@{
    ViewData["Title"] = "Home Page";
}
@section img{

<div id="bar">
     <h1 id="texto">
<pre>
Cocinas 
Industriales
</pre>
     </h1>
    </div>

      
}
<hr />
<div>
<h2>Servicios</h2>
<table >
    <thead>
      <tr>
        <th> <img src="../IMAGENES/confi (1).jpg" alt="Smiley face" height="200" width="150" style="display:flex;margin:auto"> </th>
        <th> <img src="../IMAGENES/deli.jpg" alt="Smiley face" height="200" width="150" style="display:flex;margin:auto"></th>
        <th>  <img src="../IMAGENES/tiend.png" alt="Smiley face" height="200" width="150" style="display:flex;margin:auto"></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>tecnico</td>
        <td>Mobilida</td>
        <td>Accesorios</td>
      </tr>
      <tr >
        <td>Brindamos el servicio técnico que requieren sus equipos. Nuestra experiencia y garantía a lo largo de los años.
Si requiere que un asesor técnico lo ayude, no dude en llamarnos desde cualquier parte del país.</td>
        <td>Equipamiento de cocinas domésticas e industriales. Contamos con todo lo necesario para equipar su cocina ya sea a nivel industrial o doméstico.</td>
        <td>Contamos con los accesorios y repuestos originales para todos nuestros productos.
Compre original y obtendrá la garantía real que solo nuestra empresa ofrece a nivel nacional.</td>
      </tr>
    </tbody>
  </table>
</div>